
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

@section Navigation
{
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3>Suspendisse vel urna sit amet</h3>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="~/Index/Index">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li><a href="index.html">Categories</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li><a href="index.html">Photographers</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li>Suspendisse vel urna sit amet</li>
                </ul>
            </div>
        </div>
    </div>
</div>
}
<section>
    <div class="about_main">
        <div class="pageWidth">
            <div class="deal_info_main">
                <fieldset class="address-data-inputs">
                    <ul class="steps">
                        <li class="done"><a href="~/Invitation/Index"><i class="ti-agenda"></i> <span>Event Details</span><strong></strong></a></li>
                        <li class="done"><a href="~/CardSelect/Index"><i class="ti-thumb-up"></i> <span>Select Card</span> <strong></strong></a></li>
                        <li class="done"><a href="~/CardInfo/Index"><i class=" ti-receipt"></i><span>Card Info</span><strong></strong></a></li>
                        <li class="current"><a href="~/EditCard/Index"><i class="ti-pencil"></i><span>Edit Card</span><strong></strong></a></li>
                        <li><a href="~/Delivery/Index"><i class="ti-timer"></i><span>Delivery</span><strong></strong></a></li>
                    </ul>
                </fieldset>
                <div class="deal-info">
                    <div class="heading-title">
                        <h2>How to edit card information? </h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only to the total five centuries.</p>

                    <div class="card_slider">
                        <div id="edit_card" class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="../CSSWeb/images/products/card-slider-1.jpg" alt="card">
                            </div>
                            <div class="item">
                                <img src="../CSSWeb/images/products/card-slider-1.jpg" alt="card">
                            </div>
                        </div>

                        <div class="customNavigation">
                            <a class="btn prev"><i class="ti-angle-double-left"></i> Previous</a>
                            <span>|</span>
                            <a class="btn next">Next <i class="ti-angle-double-right"></i></a>
                        </div>
                    </div>

                    <div class="edit_text">
                        <p>You are entering content for <span>content1</span></p>
                        <p>The minimum charecters you should enter are <span>5</span></p>
                        <p>The maximum charecters you should enter are <span>15</span></p>
                    </div>

                    <div class="edit_form">
                        <div class="form full-width">
                            <label>Enter your text</label>
                            <textarea name="text" placeholder="Enter your text"></textarea>
                        </div>
                    </div>
                    <div class="pagination2">
                        <div class="prev">
                            <a class="btn btn-big btn-orange float-left" href="~/CardInfo/Index"><i class="ti-angle-double-left"></i> Back To Prev </a>
                        </div>
                        <div class="next">
                            <a class="btn btn-big btn-green float-left" href="~/Delivery/Index">Proceed to Next <i class="ti-angle-double-right"></i></a>
                        </div>
                    </div>

                    <div class="clear"></div>

                </div>
                <div class="side-ads">
                    <div class="ad_250"> <img src="../CSSWeb/images/ad_250.jpg" alt="advertisement"> </div>
                    <div class="ad_250"> <img src="../CSSWeb/images/ad_250_1.jpg" alt="advertisement"> </div>
                </div>
            </div>
            <div class="ad margin_bottom_20">
                <div class="ad_728"> <img src="../CSSWeb/images/ad_728.jpg" alt="advertisement"> </div>
            </div>
            <div class="clear"></div>

        </div>
    </div>
</section>
<div class="clear"></div>
