@{
    ViewBag.Title = "ServicesMaster";
    Layout = "~/Views/SharedWeb/Mainmaster.cshtml";
}
<header>
    <div class="sticky-navigation">
    </div>
    <div class="clear"></div>
    @RenderSection("Navigation", required: true)
</header>
<section>
    <div class="about_main">
        <div class="pageWidth">
            <aside>
                <h4>Services</h4>
                <span>&nbsp;</span>
                <ul>
                    <li><a href="~/BookNow/Index">Book Now</a></li>
                    <li><a href="~/Invitations/Index">Invitation</a></li>
                    <li><a href="~/Quatation/Index">Quatation</a></li>
                    <li><a href="~/Biddings/Index">Bidding</a></li>
                    <li><a href="~/ReturnGifts/Index">Return Gifts</a></li>
                </ul>
            </aside>
            @RenderBody()
            <div class="clear"></div>
            @RenderSection("advertisement", required: false)
        </div>
    </div>
</section>
@section scripts
{
    <script type="text/javascript" src="../CSSWeb/js/jquery.datetimepicker.js"></script>
}