@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Dolorem ipsum quia dolor sit amet</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="../Index/Index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="../Index">Categories</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Deals</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<section>
    <div class="about_main">
        <div class="pageWidth">
            <aside>
                <h4>Categories</h4>
                <span>&nbsp;</span>
                <ul class="collections">
                    <li><a href="../Deals/Index" id="Beautician"> Beautician</a></li>
                    <li><a href="../Deals/Index" id="Photographers" class="active"> Photographers</a></li>
                    <li><a href="../Deals/Index" id="Cake Vendors"> Cake Vendors</a></li>
                    <li><a href="../Deals/Index" id="Caterer Decorators"> Caterer Decorators</a></li>
                    <li><a href="../Deals/Index" id="Designer Photographers"> Designer Photographers</a></li>
                    <li><a href="../Deals/Index" id="Entertainment"> Entertainment</a></li>
                    <li><a href="../Deals/Index" id="Event Organizers"> Event Organizers</a></li>
                    <li><a href="../Deals/Index" id="Fireworks"> Fireworks</a></li>
                    <li><a href="../Deals/Index" id="Godi wale"> Godi wale</a></li>
                    <li><a href="../Deals/Index" id="Hospitality Staff"> Hospitality Staff</a></li>
                </ul>
            </aside>
            <article>
                <div class="about_categories">
                    <select>
                        <option>Beautician</option>
                        <option>Photographers</option>
                        <option>Cake Vendors</option>
                        <option>Caterer Decorators</option>
                        <option>Designer Photographers</option>
                        <option>Entertainment</option>
                        <option>Fireworks</option>
                        <option>Godi wale</option>
                    </select>
                </div>

                <div id="parentHorizontalTab">
                    <ul class="resp-tabs-list hor_1">
                        <li>Photographers</li>
                    </ul>

                    <div class="resp-tabs-container hor_1">
                        <!-- Photographers -->
                        <div>
                            <div class="deals-main">
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="~/DealInfo/Index">Contrary to popular</a></h2>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="~/DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Lorem Ipsum Dolor</a></h2>
                                        <p>It is a long established fact that a reader lorem Ipsum is simply ...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="deals-main">
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="~/DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Contrary to popular</a></h2>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="~/DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Lorem Ipsum Dolor</a></h2>
                                        <p>It is a long established fact that a reader lorem Ipsum is simply ...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="deals-main">
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="~/DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index">><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Contrary to popular</a></h2>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Lorem Ipsum Dolor</a></h2>
                                        <p>It is a long established fact that a reader lorem Ipsum is simply ...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="deals-main">
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Contrary to popular</a></h2>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Lorem Ipsum Dolor</a></h2>
                                        <p>It is a long established fact that a reader lorem Ipsum is simply ...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="deals-main">
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Contrary to popular</a></h2>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Lorem Ipsum Dolor</a></h2>
                                        <p>It is a long established fact that a reader lorem Ipsum is simply ...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="deals-main">
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Contrary to popular</a></h2>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Lorem Ipsum Dolor</a></h2>
                                        <p>It is a long established fact that a reader lorem Ipsum is simply ...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="deals-main">
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Contrary to popular</a></h2>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Lorem Ipsum Dolor</a></h2>
                                        <p>It is a long established fact that a reader lorem Ipsum is simply ....</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="deals-main">
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Contrary to popular</a></h2>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal newDeal">
                                    <div class="deal-thumb">
                                        <a href="../DealInfo/Index">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/deals/thumb-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                        <div class="amount"> <span class="price">Rs. 1500</span> <span class="buy"><a href="../DealInfo/Index"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="../DealInfo/Index">Lorem Ipsum Dolor</a></h2>
                                        <p>It is a long established fact that a reader lorem Ipsum is simply ...</p>
                                        <span><i class="ti-location-pin"></i> Banjarahills, Hyderabad</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clear"></div>
                            <div class="loadMore">
                                <button name="loadmore" class="btn btn-green more-button"><i class="ti-reload"></i> Load More</button>
                            </div>
                        </div>

                    </div>
                </div>




            </article>


        </div>

    </div>
</section>


<div class="clear"></div>