
@*<div class="menu-cart">
    <div class="click-nav">
        <ul>
            <li>
                <a href="cart-view.html"> <span class="userName">2 Items in Cart</span></a>
                <div class="scroll">
                    <ul>
                        <span>&nbsp;</span>
                        <li class="no-border">
                            <a href="cart-view.html">
                                <div class="cart-thumb"><img src="images/cart-thumb.jpg" alt="thumb"></div>
                                <div class="cart-title">
                                    <h3>Siri Digital Studio</h3>
                                    <p>1 X 2500.00</p>
                                </div>
                            </a>
                            <a href="#"><i class="ti-close"></i></a>
                        </li>
                        <li>
                            <a href="cart-view.html">
                                <div class="cart-thumb"><img src="images/cart-thumb.jpg" alt="thumb"></div>
                                <div class="cart-title">
                                    <h3>Siri Digital Studio</h3>
                                    <p>1 X 2500.00</p>
                                </div>
                            </a>
                            <a href="#"><i class="ti-close"></i></a>
                        </li>
                        <li>
                            <div class="clear"></div>
                            <div class="cart_footer">
                                <a href="cart-view.html">Check Out</a>
                                <div class="cart_total">Total: 5000.00</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
        <span class="cart-icon"><i class="ti-shopping-cart"></i></span>
    </div>*@

 <div class="menu-cart">
        <div class="click-nav">
            <ul>
                <li>
                    <a href="../CartView"> <span class="userName">@ViewBag.cartCount Items in Cart</span></a>                   
                </li>
            </ul>
        </div>
        <span class="cart-icon"><i class="ti-shopping-cart"></i></span>
    </div>
