@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/Mainmaster.cshtml";
}

@section Navigation
{
 <div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3>Members Area</h3>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li>Members Area</li>
                </ul>
            </div>
        </div>
    </div>
</div>
}
<section>
    <div class="about_main">
        <div class="pageWidth">
            <div class="login-register">
                <div class="form register wow fadeInLeft animated animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <h4><b>New User</b> Register Here<span></span></h4>
                    <form novalidate id="register_form">
                        <ul>
                            <li>
                                <label>First Name<span>*</span></label>
                                <input type="text" placeholder="First Name" id="firstname" name="firstname">
                            </li>
                            <li>
                                <label>Last Name<span>*</span></label>
                                <input type="text" placeholder="Last Name" id="lastname" name="lastname">
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label>Email<span>*</span></label>
                                <input type="text" placeholder="Email" id="email" name="email">
                            </li>
                            <li>
                                <label>Phone Number<span>*</span></label>
                                <input type="text" placeholder="Phone Number" id="mobile" name="mobile">
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label>Password<span>*</span></label>
                                <input type="password" placeholder="Password" id="password" name="password">
                            </li>
                            <li>
                                <label>Confirm Password<span>*</span></label>
                                <input type="password" placeholder="Confirm password" id="confirmpassword" name="confirmpassword">
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <div class="submit-btn">
                            <button type="submit" class="btn btn-green"><i class="ti-user"></i> Register</button>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
                <div class="form login wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight;">
                    <h4><b>Existing User</b> Login Here<span></span></h4>
                    <form novalidate id="login_form">
                        <ul>
                            <li class="full">
                                <label>User Name<span>*</span></label>
                                <input type="text" placeholder="User Name" id="username" name="username">
                            </li>
                            <li class="full">
                                <label>Password<span>*</span></label>
                                <input type="password" placeholder="Password" id="password" name="password">
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <div class="submit-btn">
                            <button type="button" class="btn btn-green" onclick="window.location.href='../dashboard';"><i class="ti-lock"></i> Log in</button>
                        </div>
                        <div class="clear"></div>
                        <div class="forgot-password"><a class="popup-with-move-anim" href="#fpw">Forgot Passoword?</a></div>
                        <!--vendor login test purpose-->
                        <div class="clear"></div>
                        @*<div class="submit-btn">
                            <button type="button" class="btn btn-green" onclick="window.location.href = '../Vendordashboard';"><i class="ti-lock"></i> Log in as a vendor (test purpose)</button>
                        </div>*@
                        <div class="clear"></div>
                    </form>
                    <!-- forgot password popup -->
                    <div class="zoom-anim-dialog mfp-hide small-dialog popup-box" id="fpw">
                        <h3>Forgot Password</h3>
                        <form class="form popup_form" id="forgot_form" novalidate>
                            <ul>
                                <li class="full">
                                    <label>Email<span>*</span></label>
                                    <input type="text" placeholder="Email" id="email" name="email">
                                </li>
                            </ul>
                            <div class="clear"></div>
                            <div class="submit-btn">
                                <button type="submit" class="btn btn-red"><i class="ti-check"></i> Submit</button>
                            </div>
                            <div class="clear"></div>
                        </form>
                    </div>
                    <!-- /forgot password popup -->

                </div>
                <div class="clear"></div>
            </div>

        </div>

    </div>
</section>
@*<script type="text/javascript">
    $(document).ready(function () {
        BootstrapDialog.alert('Welcom to MaaAahwanam Signin');
    });
</script>*@