
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
}

@section Navigation
{
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3>Notifications</h3>
            </div>
            <div class="breadcrumbs">
                <ul>
                    @if (ViewBag.Type == "User")
                    {
                        <li><a href="~/index/Index">Home</a></li>
                    }
                    <li><i class="breads_arrow"></i></li>
                    <li>Notifications</li>
                </ul>
            </div>
        </div>
    </div>
</div>
}

<div class="notifications">
    <div class="mail-content">
        <ul class="mail-toolbar">
            <li>
                <input type="checkbox">
            </li>
            <li class="refresh"><a href="#"><i class="ti-reload"></i>Refresh</a></li>
            <li class="delete"><a href="#"><i class="ti-trash"></i>Delete</a></li>
            <li class="mail-pagination"> <span>1-15 from 169</span> <a href="#" class="btn btn-green"><i class="ti-angle-left"></i></a> <a href="#" class="btn btn-green"><i class="ti-angle-right"></i></a> </li>
        </ul>
        <!-- popup -->
        <div id="notify" class="zoom-anim-dialog mfp-hide small-dialog">
            <div class="popup-box pop-content">
                <div class="popup-head">
                    <h3>Lorem ipsum dolor sit amet</h3>
                </div>
                <!-- /popup-head -->
                <div class="popup-space popup-desc-space">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in magna eleifend, vehicula quam ac, sollicitudin leo. Morbi ornare eu mauris non consequat. Nam at ante sit amet ipsum tincidunt volutpat quis ac metus. Sed auctor aliquam turpis eu lacinia. </p>
                    <p>Vivamus euismod, nunc at porta aliquam, lacus urna bibendum purus, sagittis efficitur neque dolor vel purus. Fusce quis augue molestie, tincidunt leo non, pulvinar nisi. Nulla at est eget velit condimentum lacinia vitae volutpat massa. Nulla facilisi. Aenean eget justo purus. Donec dignissim euismod viverra. </p>
                    <p>Donec fermentum porttitor ipsum, in eleifend turpis consectetur et. Maecenas faucibus sollicitudin felis. Cras aliquet lorem vitae lorem euismod dictum. Sed at dolor ipsum. </p>
                    <p>Nunc sit amet efficitur nibh. Vivamus fermentum dictum ultricies. </p>
                </div>
            </div>
        </div>
        <!-- /popup -->
        <ul class="mail-list">
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span><span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span> <a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Lorem ipsum dolor sit amet</span> <span class="mail-subject">Nam lobortis est in iaculis suscipit, erat purus tempus orci</span> </a> <span class="ml-right">06:28 PM</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span> <span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span><a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Aliquam rhoncus ac est</span> <span class="mail-subject">Donec ut ex quam. Mauris facilisis orci sapien</span> </a> <span class="ml-right">11:16 AM</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span> <span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span><a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Etiam in odio sed</span> <span class="mail-subject"> Maecenas ornare urna eget mauris mattis placerat. </span> </a> <span class="ml-right">Oct 15</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span> <span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span><a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Cras et lectus ornare</span> <span class="mail-subject"> Pellentesque porta finibus facilisis</span> </a> <span class="ml-right">Oct 13</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span><span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span> <a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Cras vitae </span> <span class="mail-subject">Ut eget felis et enim euismod posuere quis id tortor</span> </a> <span class="ml-right">Oct 13</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span><span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span> <a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Vestibulum congue erat dui</span> <span class="mail-subject">Nam blandit at dui ac venenatis</span> </a> <span class="ml-right">Oct 12</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span> <span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span><a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Lorem ipsum dolor sit amet</span> <span class="mail-subject">Nam lobortis est in iaculis suscipit, erat purus tempus orci</span> </a> <span class="ml-right">Oct 12</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span><span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span> <a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Aliquam rhoncus ac est</span> <span class="mail-subject">Donec ut ex quam. Mauris facilisis orci sapien</span> </a> <span class="ml-right">Oct 12</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span> <span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span><a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Etiam in odio sed</span> <span class="mail-subject"> Maecenas ornare urna eget mauris mattis placerat. </span> </a> <span class="ml-right">Oct 11</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span><span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span> <a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Cras et lectus ornare</span> <span class="mail-subject"> Pellentesque porta finibus facilisis</span> </a> <span class="ml-right">Oct 11</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span> <span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span><a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Sodales enim tempus</span> <span class="mail-subject">Ut eget felis et enim euismod posuere quis id tortor</span> </a> <span class="ml-right">Oct 10</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span> <span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span><a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Vestibulum congue erat dui</span> <span class="mail-subject">Nam blandit at dui ac venenatis</span> </a> <span class="ml-right">Oct 10</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span><span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span> <a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Etiam in odio sed</span> <span class="mail-subject"> Maecenas ornare urna eget mauris mattis placerat. </span> </a> <span class="ml-right">Oct 10</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span><span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span> <a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Aliquam rhoncus ac est</span> <span class="mail-subject">Donec ut ex quam. Mauris facilisis orci sapien</span> </a> <span class="ml-right">Oct 09</span>
            </li>
            <li>
                <span class="ml-left">
                    <input type="checkbox" />
                </span><span class="ml-reply"><a href="~/Comments/Index"><i class="ti-share-alt"></i></a></span> <a class="ml-center popup-with-move-anim" href="#notify"> <span class="mail-sender">Cras et lectus ornare</span> <span class="mail-subject"> Pellentesque porta finibus facilisis</span> </a> <span class="ml-right">Oct 08</span>
            </li>
        </ul>
    </div>
</div>