@model List<MaaAahwanam.Repository.GetProducts_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Invitation</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/Index/Index">Home</a></li>
                        @*<li><i class="breads_arrow"></i></li>
                            <li><a href="index.html">Services</a></li>*@
                        <li><i class="breads_arrow"></i></li>
                        @if (ViewBag.ServiceType == "InvitationCard")
                        {
                            <li><a href="../product?par=InvitationCard"> InvitationCard</a></li>
                        }
                        @if (ViewBag.ServiceType == "Venue")
                        {
                            <li><a href="../product?par=Venue"> Venue</a></li>
                        }
                        @if (ViewBag.ServiceType == "Catering")
                        {
                            <li><a href="../product?par=Catering"> Catering</a></li>
                        }
                        @if (ViewBag.ServiceType == "Photography")
                        {
                            <li><a href="../product?par=Photography"> Photography</a></li>
                        }
                        @if (ViewBag.ServiceType == "Decorator")
                        {
                            <li><a href="../product?par=Decorator"> Decorator</a></li>
                        }
                        @if (ViewBag.ServiceType == "Entertainment")
                        {
                            <li><a href="../product?par=Entertainment"> Entertainment</a></li>
                        }
                        @if (ViewBag.ServiceType == "Eventorganiser")
                        {
                            <li><a href="../product?par=Eventorganiser"> Eventorganiser</a></li>
                        }
                        @if (ViewBag.ServiceType == "BeautyService")
                        {
                            <li><a href="../product?par=BeautyService"> Beauty Service</a></li>
                        }
                        @if (ViewBag.ServiceType == "Travel")
                        {
                            <li><a href="../product?par=Travel"> Travel</a></li>
                        }
                        @if (ViewBag.ServiceType == "Gift")
                        {
                            <li><a href="../product?par=Gift"> Gift</a></li>
                        }
                        @if (ViewBag.ServiceType == "WeddingCollection")
                        {
                            <li><a href="../product?par=WeddingCollection"> WeddingCollection</a></li>
                        }
                        @if (ViewBag.ServiceType == "Other")
                        {
                            <li><a href="../product?par=Other"> Other</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<section>
    <div class="about_main">
        <div class="pageWidth">
            <aside>
                <h4>Services</h4>
                <span>&nbsp;</span>
                <ul>
                    <li><a href="../product?par=Venue"> Venue</a></li>
                    <li><a href="../product?par=Catering"> Catering</a></li>
                    <li><a href="../product?par=Photography"> Photography</a></li>
                    <li><a href="../product?par=InvitationCard"> InvitationCard</a></li>
                    <li><a href="../product?par=Decorator"> Decorator</a></li>
                    <li><a href="../product?par=Entertainment"> Entertainment</a></li>
                    <li><a href="../product?par=Eventorganiser"> Eventorganiser</a></li>
                    <li><a href="../product?par=BeautyService"> Beauty Service</a></li>
                    <li><a href="../product?par=Travel"> Travel</a></li>
                    <li><a href="../product?par=Gift"> Gift</a></li>
                    <li><a href="../product?par=WeddingCollection"> WeddingCollection</a></li>
                    <li><a href="../product?par=Other"> Other</a></li>
                </ul>
                <div class="line">&nbsp;</div>
                <h4>Filter By</h4>
                <span>&nbsp;</span>
                <div class="clear"></div>
                <form class="form">
                    <label>Location</label>
                    <input type="text" name="location" placeholder="Enter your Location">
                    <label>Price Range</label>
                    <div class="radioButtons" id="radio-demo">
                        <input type="radio" name="radio-group" id="lowto_high" checked value="Low to High" />
                        <label for="first-choice">Low to High</label>
                        <br />
                        <input type="radio" name="radio-group" id="highto_low" value="High to Low" />
                        <label for="second-choice">High to Low</label>
                    </div>
                </form>
            </aside>
            <article>
                <div class="about_categories">
                    <select>
                        <option>Beautician</option>
                        <option>Photographers</option>
                        <option>Cake Vendors</option>
                        <option>Caterer Decorators</option>
                        <option>Designer Photographers</option>
                        <option>Entertainment</option>
                        <option>Fireworks</option>
                        <option>Godi wale</option>
                    </select>
                </div>
                <div class="about_content">
                    <fieldset class="address-data-inputs">
                        <div class="displayDiv">
                            <div>
                                @if (Model != null)
                                {
                                    //for (int i = 1; i <= 2; i++)
                                    //{
                                     foreach (var item in this.Model.Skip(Model.Count-2))
                                        {

                                        <div id="PhotographersDiv" class="step2">
                                            <div class="deals-main" id="main">
                                                <div class="deal">
                                                    <div class="deal-thumb">
                                                        <a href="../ProductInfo?par=@item.ServicType.Trim()&VID=@item.Id">
                                                            <div class="zoomDiv">
                                                                @* <a href="../ProductInfo?par=@item.ServicType.Trim()&VID=@item.Id">*@
                                                                <img src="~/vendorimages/@item.image" alt="thumb">
                                                                @*</a>*@
                                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                                                
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="deal-details">
                                                        <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">@item.BusinessName</h4>
                                                        <div class="amount">
                                                            <span class="price">Rs. @item.Cost</span> <span class="buy">
                                                                <a href="../ProductInfo?par=@item.ServicType.Trim()&VID=@item.Id"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                                            </span>
                                                        </div>
                                                        <span style="color:#838383">@item.Description</span>
                                                        <div class="deal-footer">
                                                            <ul>
                                                                <li><div class="rate" data-rate-value=5></div></li>
                                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                                <li><i class="ti-eye"></i> 1500</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    }
                                @*}*@
                            </div>
                            <input type="hidden" id="hiddenlastrecord" value="@Model.Last().Id" />
                            <div id="sss"></div>
                            <div class="loadMore">
                                <button name="loadmore" id="LoadMore1" class="btn btn-green more-button"><i class="ti-reload"></i> Load More</button>
                                <div id="abc"><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></div>
                                <div id="imgloadergifdiv"> <img src="~/CSSWeb/ajax-loader.gif" id="imgloadergif" /></div>
                            </div>

                            <!--<div class="pagination2">
                                <div class="prev">
                                <a href="invitation.html" class="btn btn-big btn-green float-left"><i class="ti-angle-double-left"></i> Back to Prev</a>
                                </div>
                                <div class="next">
                                <a href="../CardInfo/Index" class="btn btn-big btn-red float-right">Go to Next <i class="ti-angle-double-right"></i></a>
                              </div>
                            </div>-->
                        </div>
                        <!-- displayDiv -->
                    </fieldset>

                </div>
            </article>

            <div class="clear"></div>

        </div>

    </div>
</section>
<div class="clear"></div>
@section scriptfunctions
{
    <script type="text/javascript">
        window.onload = function () {
            $("#abc").hide();
            $("#imgloadergifdiv").hide();
            alert(document.getElementById("hiddenlastrecord").value)
        };
        /* -------------------------------  Loadmore functionality ------------------------ */
        $('#LoadMore1').on('click', function (e) {
            //$("#LoadMore1").hide();
            //$("#abc").show();
            //$("#imgloadergifdiv").show();
            var designDate = '<div class="deals-main"> <div class="deal"> <div class="deal-thumb"> <a href="~/DealInfo"> <div class="zoomDiv"> <img src="../CSSWeb/images/products/card-1.jpg" alt="thumb"> <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span> </div> </div> </a> </div> <div class="deal-details"> <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">Wedding Favors</h4> <div class="amount"> <span class="price">Rs. 570</span> <span class="buy"> <a href="../ProductInfo?par=Venue&ID=101"><i class="ti-shopping-cart"></i> Add to Cart</a> </span> </div> <span style="color:#838383">Contrary to popular belief, Lorem Ipsum is not ...</span> <div class="deal-footer"> <ul> <li><div class="rate" data-rate-value=5></div></li> <li><i class="ti-comment-alt"></i> 1362</li> <li><i class="ti-eye"></i> 1500</li> </ul> </div> </div> </div> </div>';
            for (var i = 0; i < 9; i++) {
                $("#PhotographersDiv").append(designDate);
            }
            $(".rate").rate();
            $("#imgloadergifdiv").hide();
            $("#LoadMore1").show();
        });
    </script>
}
