@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}
@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Suspendisse vel urna sit amet</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/Index/Index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="index.html">Categories</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="index.html">Photographers</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Suspendisse vel urna sit amet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<section>
    <div class="about_main">
        <div class="pageWidth">

            <div class="deal_info_main">
                <fieldset class="address-data-inputs">
                    <ul class="steps">
                        <li class="done"><a href="~/Invitation/Index"><i class="ti-agenda"></i> <span>Event Details</span><strong></strong></a></li>
                        <li class="done"><a href="~/CardSelect/Index"><i class="ti-thumb-up"></i> <span>Select Card</span> <strong></strong></a></li>
                        <li class="current"><a href="~/CardInfo/Index"><i class=" ti-receipt"></i><span>Card Info</span><strong></strong></a></li>
                        <li><a href="~/EditCard/Index"><i class="ti-pencil"></i><span>Edit Card</span><strong></strong></a></li>
                        <li><a href="~/Delivery/Index"><i class="ti-timer"></i><span>Delivery</span><strong></strong></a></li>
                    </ul>
                </fieldset>
                <div class="deal-info">
                    <div class="deal-slider">
                        <div class="sp-loading">
                            <img src="../CSSWeb/images/sp-loading.gif" alt=""><br>
                            LOADING IMAGES
                        </div>
                        <div class="sp-wrap">
                            <a href="../CSSWeb/images/products/card-view.jpg"><img src="../CSSWeb/images/products/card-view.jpg" alt=""></a>
                            <a href="../CSSWeb/images/products/card-view-2.jpg"><img src="../CSSWeb/images/products/card-view-2.jpg" alt=""></a>
                            <a href="../CSSWeb/images/products/card-view-3.jpg"><img src="../CSSWeb/images/products/card-view-3.jpg" alt=""></a>
                            <a href="../CSSWeb/images/products/card-view-4.jpg"><img src="../CSSWeb/images/products/card-view-4.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="deal-desc">
                        <div class="review-area">
                            <ul>
                                <li>
                                    <div class="rate" data-rate-value=4></div>
                                    &nbsp;53
                                </li>
                                <li><a href="#review" class="move_review text-green"><i class="ti-comment-alt text-green"></i> Reviews 1362</a></li>
                                <li class="text-red"> <a href="#writeReview" class=" text-red popup-with-move-anim"><i class="ti-pencil-alt text-red"></i> Write a Review</a></li>
                            </ul>

                            <!-- popup -->
                            <div id="writeReview" class="zoom-anim-dialog mfp-hide small-dialog">
                                <div class="popup-box pop-content">
                                    <div class="popup-head">
                                        <h3>Write a Review</h3>
                                    </div>
                                    <!-- /popup-head -->
                                    <div class="popup-space popup-desc-space">
                                        <div class="dashboardList dashboardList-nospace">
                                            <div class="bidding_form">
                                                <ul>
                                                    <li>
                                                        <label>Name</label>
                                                        <input type="text" name="name" placeholder="Name">
                                                    </li>
                                                    <li>
                                                        <label>Emal ID <span>*</span></label>
                                                        <input type="text" name="email" placeholder="Email ID">
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li class="full-width">
                                                        <label>Review <span>*</span></label>
                                                        <textarea name="Review" placeholder="Review"></textarea>
                                                    </li>
                                                </ul>

                                                <ul>
                                                    <li>&nbsp;</li>
                                                    <li>
                                                        <button type="submit" name="submit" class="btn btn-small btn-green float-right" value="submit">Submit <i class="ti-angle-double-right"></i></button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end popup -->

                        </div>
                        <div class="product_review">
                            <h4>Location</h4>
                            <p>Banjarahills, Road no. 12, Hyderbad, 500 027, India</p>
                        </div>
                        <div class="product_review">
                            <h4>Description</h4>
                            <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas risus ut leo scelerisque, in tristique lacus pretium. Integer elementum egestas leo eu pretium. Donec porttitor tincidunt ligula non rutrum. Sed lobortis aliquet tellus id iaculis. Nunc aliquam turpis et nulla vehicula ullamcorper. Phasellus varius lacus sed nibh ultrices, nec pellentesque nibh tincidunt. Donec tincidunt ligula eu orci feugiat porttitor. Sed vitae libero sed lectus bibendum tincidunt. Aliquam ut placerat est. Etiam condimentum velit molestie ex fermentum eleifend. Nunc condimentum elit et ipsum sagittis ultrices. Suspendisse lacinia imperdiet lorem, ac consectetur mi facilisis a. Ut urna lorem, sodales vel urna vitae, ornare imperdiet ipsum. Curabitur nec fringilla libero. Praesent mi metus, pharetra vitae viverra ac, euismod sit amet eros. Ut ullamcorper tortor sapien, vitae mattis leo ultricies in. Fusce tempor risus vitae lobortis sodales. Quisque non commodo est. Nullam sagittis aliquam erat, ut pharetra ligula faucibus non. </p>
                        </div>
                        <div class="deal_price">
                            <div class="price_details">
                                <dl>
                                    <dt>Deal Price: </dt>
                                    <dd>
                                        <h1 class="text-green">Rs. 1,299</h1>
                                    </dd>
                                    <dt>Selling Price: </dt>
                                    <dd>
                                        <h2>Rs. 1,800</h2>
                                    </dd>
                                    <dt>Total Price: </dt>
                                    <dd>
                                        <h2>Rs. 2,200</h2>
                                    </dd>
                                </dl>
                            </div>
                            <div class="deal_save">
                                <p>You Save: <span class="text-red">Rs. 1,800</span></p>
                                <h3>30% OFF</h3>
                            </div>
                        </div>
                        <div class="deal_buttons">
                            <a href="~/Product/Index" class="btn btn-big btn-orange"><i class="ti-arrow-left"></i> Back To Prev </a> <a href="~/CartView/Index" class="btn btn-big btn-green">Proceed to Next <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="deal_amenties">
                        <div class="dashboardList">
                            <table class="responsive">
                                <thead>
                                    <tr>
                                        <th><h2>Emenities</h2></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Brand : Canon - DSLR </td>
                                    </tr>
                                    <tr>
                                        <td>Model ID: EOS1200D Kit(EF S18-55 IS II+55-250mm IS II) with 8 GB Card & Bag </td>
                                    </tr>
                                    <tr>
                                        <td>Shutter Speed in other Modes: Bulb, X-sync at 1/200 sec </td>
                                    </tr>
                                    <tr>
                                        <td>Continuous Shots: Yes, 3.0 Shots/sec </td>
                                    </tr>
                                    <tr>
                                        <td>Drive Modes: Single, Continuous, Self-timer </td>
                                    </tr>
                                    <tr>
                                        <td>Maximum Burst: JPEG: 69 Shots, RAW: 6 Shots, RAW + JPEG: 4 Shots</td>
                                    </tr>
                                    <tr>
                                        <td>Temperature: 0° C - 40°C </td>
                                    </tr>
                                    <tr>
                                        <td>Live View Shooting : Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Image Format: JPEG, RAW, RAW + JPEG </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="deal_reviews_all">
                        <div class="dashboardList all_reviews" id="review">
                            <table class="responsive">
                                <thead>
                                    <tr>
                                        <th><h2>Most Popular Reviews</h2> <a href="#">View All Reviews</a> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="review_title">
                                                <h5>Lorem ipsum dolor sit amet</h5>
                                                <small>Dec 03, 2015</small>
                                            </div>
                                            <div class="review_rate">
                                                <div class="rate" data-rate-value=3></div>
                                            </div>
                                            <div class="clear"></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sapien nunc, condimentum iaculis bibendum ac, elementum aliquam lectus. Vestibulum interdum ullamcorper eros, id semper urna elementum ut. In hac habitasse platea dictumst. </p>
                                            <p>Was this review helpful to you? <a href="#" class="text-green"><i class="ti-thumb-up text-green"></i> Yes</a> &nbsp; <a href="#" class="text-red"><i class="ti-thumb-down text-red"></i> No</a></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="review_title">
                                                <h5>Lorem ipsum dolor sit amet</h5>
                                                <small>Dec 03, 2015</small>
                                            </div>
                                            <div class="review_rate">
                                                <div class="rate" data-rate-value=4></div>
                                            </div>
                                            <div class="clear"></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sapien nunc, condimentum iaculis bibendum ac, elementum aliquam lectus. Vestibulum interdum ullamcorper eros, id semper urna elementum ut. In hac habitasse platea dictumst. </p>
                                            <p>Was this review helpful to you? <a href="#" class="text-green"><i class="ti-thumb-up text-green"></i> Yes</a> &nbsp; <a href="#" class="text-red"><i class="ti-thumb-down text-red"></i> No</a></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="review_title">
                                                <h5>Lorem ipsum dolor sit amet</h5>
                                                <small>Dec 03, 2015</small>
                                            </div>
                                            <div class="review_rate">
                                                <div class="rate" data-rate-value=2></div>
                                            </div>
                                            <div class="clear"></div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sapien nunc, condimentum iaculis bibendum ac, elementum aliquam lectus. Vestibulum interdum ullamcorper eros, id semper urna elementum ut. In hac habitasse platea dictumst. </p>
                                            <p>Was this review helpful to you? <a href="#" class="text-green"><i class="ti-thumb-up text-green"></i> Yes</a> &nbsp; <a href="#" class="text-red"><i class="ti-thumb-down text-red"></i> No</a></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="side-ads">
                    <div class="ad_250" style="background-color:white;">
                        <div style="border: groove; width: 75%; height:230px;">
                            <br/>
                            <label style=" font-size: 14px; line-height: 20px; display: block; color: #f38e07; position: relative; z-index: 1; text-align: center; font-family: 'aileronbold'; text-transform: uppercase;">CHECK AVAILABILITY</label>
                            <br/>
                            <center><input type="text" name="Email" placeholder="Start Date" id="datetimepicker1"></center>
                            <br />                            
                            <center><input type="text" name="Email" placeholder="End Date" id="datetimepicker2"></center>
                            <br/>
                            <center><button type="submit" class="btn btn-green">Check <i class="ti-angle-double-right"></i></button></center>
                        </div>
                    </div>
                    <div class="ad_250"> </div>
                </div>
            </div>
            <div class="ad margin_bottom_20">
                <div class="ad_728"> <img src="../CSSWeb/images/ad_728.jpg" alt="advertisement"> </div>
            </div>
            <div class="clear"></div>
            <div class="heading-title">
                <h2>More Top Deals Based On Your Search</h2>
            </div>
            <div id="parentHorizontalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>Wedding Cards</li>
                    <li>Birth Day </li>
                    <li>Special Ocations</li>
                </ul>
                <div class="deals_all">
                    <a href="#">View All</a>
                    <div class="view_all_deals">
                        <span>&nbsp;</span>
                        <h3>Choose Category</h3>
                        <div class="deals_list">
                            <ul>
                                <li><a href="#"><i class="ti-angle-right"></i> Venues</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Caterer</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Decorators</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Photographers</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Tours and travels</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Beautician</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Designer</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Event organizers</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Wedding Favors</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Wedding collection</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Religious priest</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Music troop/Band </a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Cake vendors</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Godi wale</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Hotels and accommodation</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Hospitality Staff</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Sangeeth and mehendi </a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Entertainment</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Fireworks</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Maids or Helping staff</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Sweet shops</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i> Wedding cards</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="resp-tabs-container hor_1">
                    <!-- Photographers -->
                    <div>
                        <div class="deals-main">
                            <div class="step2">
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Gilded Scrollwork</a></h2>
                                        <div class="amount">
                                            <span class="price">Rs. 999</span> <span class="buy">
                                                <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Splendid Succulent</a></h2>
                                        <div class="amount">
                                            <span class="price">Rs. 599</span> <span class="buy">
                                                <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <p>It is a long established fact that a reader ...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-3.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Wedding Favors</a></h2>
                                        <div class="amount">
                                            <span class="price">Rs. 570</span> <span class="buy">
                                                <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <p>Contrary to popular belief, Lorem Ipsum is not ...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=5></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Add on Card</a></h2>
                                        <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                        <p>It is a long established fact that a reader will be distracted by...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=3></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Add on Card</a></h2>
                                        <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                        <p>It is a long established fact that a reader will be distracted by...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=3></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step2">
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-1.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Gilded Scrollwork</a></h2>
                                        <div class="amount">
                                            <span class="price">Rs. 999</span> <span class="buy">
                                                <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <p>Lorem Ipsum is simply text is one of the printing...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=4></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-2.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Splendid Succulent</a></h2>
                                        <div class="amount">
                                            <span class="price">Rs. 599</span> <span class="buy">
                                                <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <p>It is a long established fact that a reader ...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=1></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-3.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Wedding Favors</a></h2>
                                        <div class="amount">
                                            <span class="price">Rs. 570</span> <span class="buy">
                                                <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <p>Contrary to popular belief, Lorem Ipsum is not ...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=5></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Add on Card</a></h2>
                                        <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                        <p>It is a long established fact that a reader will be distracted by...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=3></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="deal selectCard selectCard2">
                                    <div class="deal-thumb">
                                        <a href="deal-info.html">
                                            <div class="zoomDiv">
                                                <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h2><a href="deal-info.html">Add on Card</a></h2>
                                        <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                        <p>It is a long established fact that a reader will be distracted by...</p>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=3></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Travels -->
                    <div>
                        <div class="step2">
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-1.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Gilded Scrollwork</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 999</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>Lorem Ipsum is simply text is one of the printing...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=4></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-2.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Splendid Succulent</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 599</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>It is a long established fact that a reader ...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=1></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-3.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Wedding Favors</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 570</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>Contrary to popular belief, Lorem Ipsum is not ...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=5></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Add on Card</a></h2>
                                    <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    <p>It is a long established fact that a reader will be distracted by...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=3></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Add on Card</a></h2>
                                    <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    <p>It is a long established fact that a reader will be distracted by...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=3></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step2">
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-1.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Gilded Scrollwork</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 999</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>Lorem Ipsum is simply text is one of the printing...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=4></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-2.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Splendid Succulent</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 599</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>It is a long established fact that a reader ...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=1></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-3.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Wedding Favors</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 570</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>Contrary to popular belief, Lorem Ipsum is not ...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=5></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Add on Card</a></h2>
                                    <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    <p>It is a long established fact that a reader will be distracted by...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=3></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Add on Card</a></h2>
                                    <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    <p>It is a long established fact that a reader will be distracted by...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=3></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Decorators -->
                    <div>
                        <div class="step2">
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-1.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Gilded Scrollwork</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 999</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>Lorem Ipsum is simply text is one of the printing...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=4></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-2.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Splendid Succulent</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 599</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>It is a long established fact that a reader ...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=1></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-3.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Wedding Favors</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 570</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>Contrary to popular belief, Lorem Ipsum is not ...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=5></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Add on Card</a></h2>
                                    <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    <p>It is a long established fact that a reader will be distracted by...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=3></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Add on Card</a></h2>
                                    <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    <p>It is a long established fact that a reader will be distracted by...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=3></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step2">
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-1.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Gilded Scrollwork</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 999</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>Lorem Ipsum is simply text is one of the printing...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=4></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-2.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Splendid Succulent</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 599</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>It is a long established fact that a reader ...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=1></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-3.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Wedding Favors</a></h2>
                                    <div class="amount">
                                        <span class="price">Rs. 570</span> <span class="buy">
                                            <a href="deal-info.html"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                        </span>
                                    </div>
                                    <p>Contrary to popular belief, Lorem Ipsum is not ...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=5></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Add on Card</a></h2>
                                    <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    <p>It is a long established fact that a reader will be distracted by...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=3></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="deal selectCard selectCard2">
                                <div class="deal-thumb">
                                    <a href="deal-info.html">
                                        <div class="zoomDiv">
                                            <img src="../CSSWeb/images/products/card-4.jpg" alt="thumb">
                                            <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="deal-details">
                                    <h2><a href="deal-info.html">Add on Card</a></h2>
                                    <div class="amount"> <span class="price">Rs. 350</span> <span class="buy"><a href="deal-info.html"><i class="ti-shopping-cart"></i> Book Now</a></span> </div>
                                    <p>It is a long established fact that a reader will be distracted by...</p>
                                    <div class="deal-footer">
                                        <ul>
                                            <li><div class="rate" data-rate-value=3></div></li>
                                            <li><i class="ti-comment-alt"></i> 1362</li>
                                            <li><i class="ti-eye"></i> 1500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div>
@section scripts
{
    <script type="text/javascript" src="~/CSSWeb/js/jquery.datetimepicker.js"></script>
}